@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

:root {
    --orangish: #ff6f91;
    --light-orange: #ff9671;
    --yellow1: #ffc75f;
    --yellow2: #f9f871;

    --light-purple: #845ec2;
    --pinkish: #d65db1;

    --white-ish: #edeef6;
    --main-font-color: #fff;
}

.main-light-bg-color {
    background-color: var(--light-orange);
    color: var(--main-font-color);
}

.secondary-light-bg-color {
    background-color: var(--orangish);
    color: var(--main-font-color);
}

.pinkish-bg-color {
    background-color: var(--pinkish);
    color: var(--main-font-color);
}

.white-ish-bg-color {
    background-color: var(--white-ish);
    color: black;
}

.main-dark-bg-color {
    background-color: var(--light-purple);
    color: var(--main-font-color);
}

.gradient1-bg {
    background: rgb(132,94,194);
    background: linear-gradient(90deg, rgba(132,94,194,1) 22%, rgba(255,111,145,1) 56%, rgba(255,199,95,1) 100%); 
    color: var(--main-font-color);
}

.shadow1 {
    box-shadow: 0 0 24px 0 #000;
}

.shadow2 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* misc stuff */
a, a:visited, a:active {
    color: inherit;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.3s ease-out;
    cursor: pointer;
}

a:hover {
    color: inherit;
    text-decoration: underline white;
}

ul {
    list-style-type: none;
}

.button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border: none;
    border-radius: 10px;

    font-size: 1rem;

    transition: box-shadow 0.3s ease-out;

    padding: 10px;
}

.button:hover, .button:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.big-input input {
    width: 100%;
    padding: 0.8rem;
    text-align: center;

    border: none;
    box-shadow: 0 0 12px rgb(132, 94, 194, 0.6);
    border-radius: 10px;
    outline: none;
}

.big-input {
    transition: 0.2s ease-out;
}

.big-input:focus,
.big-input:active,
.big-input:hover {
    box-shadow: 0 0 24px rgb(132, 94, 194, 0.6);
    transform: scale(1.05);
}

/* general layout stuff */
html, body {
    padding: 0;
    margin: 0;
    height: 100%; 
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;

    display: grid;
    grid-template-columns: 0.8fr 3fr;
    grid-template-rows: 1fr 4fr 4fr 0.6fr;
    grid-template-areas:
    "nav nav"
    "sidebar content"
    "sidebar content"
    "footer  footer";

    overflow: hidden;
}

/* modal stuff */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-out;

    background-color: rgba(0, 0, 0, 0.35);
}

.modal-container.modal-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-container .modal {
    width: 60%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    border-radius:10px;
}

.modal-container .modal .modal-header {
    grid-area: modal-header;
    flex: 2 2 80px;
    padding-left: 10%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--light-purple);

    font-style: italic;
    color: var(--main-font-color);
}

.modal-container .modal .modal-content {
    grid-area: modal-content;
    flex: 6 6;
    max-height: 600px;
    overflow-y: scroll;

    display: flex;
    align-content: center;
    justify-content: center;

    background-color: var(--white-ish);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* form stuff */

.form {
    height: 100%;
    width: 80%;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* big error message stuff */

.big-form-msg {
    height: 0;
    opacity: 0.0;
    transition: 0.2s ease-out;

    border-radius: 5px;
}

.big-form-msg h3 {
    margin: 0;
}

.big-form-msg.show {
    margin-top: 3.5%;
    opacity: 1.0;
    height: 2rem;
    padding: 1rem;
}

/* field stuff */

.form .input {
    width: 40%;

    margin-top: 2.5%;

    display: flex;
    flex-direction: column;
}

.form .input input {
    display: block;

    font-size: 1rem;
    padding: 10px 10px 10px 5px;

    border: none;
    box-shadow: 0 1.2px rgba(0, 0, 0, 0.35);
    transition: box-shadow 0.2s ease-out;

    background-color: inherit;
}

.form .input input:focus {
    outline: none;
}

/* field error stuff */

.form .input .input-error-message {
    height: 0;
    opacity: 0.0;
    transition: 0.2s ease-out;
}


/* field errors when user is interacting with the form */

.form .input input:focus:valid {
    box-shadow: 0 1.2px rgba(0, 255, 0, 0.6);
}

.form .input input:focus:invalid {
    box-shadow: 0 1.2px var(--yellow1); 
}

.form .input input:focus:invalid + .input-error-message {
    height: 2rem;

    opacity: 1.0;
    color: var(--yellow1);
}

.form .input input:focus:invalid {
    box-shadow: 0 1.2px var(--yellow1);
}

/* field errors when user has already interacted with the form */

.form .input input:not(:placeholder-shown):not(:focus):invalid + .input-error-message{
    height: 2rem;

    opacity: 1.0;
    color: var(--orangish);
}

.form .input input:not(:placeholder-shown):not(:focus):invalid {
    box-shadow: 0 1.2px var(--orangish);
}

/* form buttons section stuff */

.form .form-buttons-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.form .form-buttons-section .button {
    width: 55%;
    margin-bottom: 2.5%;
}

/* form icons section stuff */

.form .form-icons-list {
    text-align: center;
}

.form .form-icons-list ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

form:invalid.form button[type="submit"] {
    background-color: var(--grey);
    color: #ccc;
    cursor: not-allowed;
  }

/* main content stuff */
.main-content {
    grid-area: content;
    overflow-y: auto;
    overflow-x: hidden;

    /* flex-direction must be set to column,
     * this allows div expansion according to content
     */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-title {
    text-align: center;
    width: 100%;

    margin: 0;
    margin-top: 2.5%;
    font-size: 3rem;
}

/* style overrides for forms inside main-content */

.main-content .form .input input:focus:valid {
    box-shadow: 0 1.2px rgba(0, 255, 0, 1.0);
}

.main-content .form .input input:focus:invalid {
    box-shadow: 0 1.2px yellow; 
}

.main-content .form .input input:focus:invalid + .input-error-message {
    color: yellow;
}

.main-content .form .input input:focus:invalid {
    box-shadow: 0 1.2px yellow;
}

.main-content .form .input input:not(:placeholder-shown):not(:focus):invalid + .input-error-message{
    color: red;
}

.main-content .form .input input:not(:placeholder-shown):not(:focus):invalid {
    box-shadow: 0 1.2px red;
}

/* TODO: cambiar nombre de clase playlist */
.playlist {
    margin-top: 2.5%;
    width: 100%;
    /* flex-direction must be set to column,
     * this allows div expansion according to content
     */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    margin-bottom: 5%;
}

.playlist:first-of-type {
    margin-top: 5%;
}

.playlist:last-of-type {
    margin-bottom: 5%;
}

.playlist h1 {
    width: 80%;
    margin-bottom: 5%;

    font-size: 2rem;
    font-style: italic;
}

.playlist .user-icons-section {
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 70%;
}

.playlist .user-icons-section img.profile-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;

    box-shadow: 0 0 12px rgb(132, 94, 194, 0.6);

    transition: 0.2s ease-out;
    transform: scale(1.0);
}

.playlist .user-icons-section img.profile-img:hover {
    transform: scale(1.2);
}

.playlist .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 80%;
    height: 100%;
}

.playlist .card-container .music-card,
.playlist .card-container .artist-card {
    flex: 0 0 25%;
}

.music-card, .artist-card {
    height: 340px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    background-color: var(--orangish);
    border-radius: 4px;

    position: relative;
    transition: 0.25s ease-out;

    overflow: hidden;
    overflow-wrap: anywhere;
}

.music-card.draggable, .artist-card.draggable {
    cursor: move;
}

.music-card.draggable.dragging {
    opacity: 0.8;
}

.music-card:hover, .artist-card:hover {
    transform: translateY(-10px);
}
  
.music-card .thumbnail {
    height: 70%;
    position: relative;
}

.music-card .thumbnail img {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

.music-card .thumbnail:hover audio {
    display: inline;
}

.music-card .thumbnail audio {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 100;
    display: none;
}

.music-card .description {
    height: 20%;
}

.music-card .description h6 {
    top: 0;
    margin: 0;

    font-style: italic;
    font-size: 1rem;

    /* cut the $--webkit-line-clamp line of text with ellipsis */
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.music-card .description p {
    /* display: inline-block; */
    margin: 0;
    font-size: 0.8rem;

    /* cut the $--webkit-line-clamp line of text with ellipsis */
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.music-card .like-button-section {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.music-card .badge-msg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 1.2rem;
    transform: scale(1.2);

    font-size: 1.2rem;
    font-style: italic;
    text-align:center;
}

.artist-card img {
    width: 100%;
    height: 80%;
}

.artist-card .description {
    margin: 0%;
    height: 20%;
    font-size: 1.2rem;
    text-align: center;
}

/* main nav stuff */
.main-nav {
    grid-area: nav;
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    justify-content: space-between;
}

.main-nav * {
    display: inline;
}

.main-nav .big-input input {
    width: 300px;
}

.main-nav .home-section {
    height: 100%;
    margin-left: 1.5%;
    display: flex;
    align-items: center;

    font-size: 1.4rem;
}

.main-nav .home-section h2 {
    margin: 0;
}

.main-nav ul {
    margin: 0%;
    margin-right: 5%;
}

.main-nav ul li {
    margin-right: 2rem;
    cursor: pointer;
}

.main-nav ul li img.profile-img {
    box-shadow: 0 0 12px rgb(132, 94, 194, 0.6);
    transition: 0.2s ease-out;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.main-nav ul li img.profile-img:hover,
.main-nav ul li img.profile-img:focus,
.main-nav ul li img.profile-img:active {
    box-shadow: 0 0 24px rgb(132, 94, 194, 0.6);
    transform: scale(1.05);
}

.main-nav ul.dropdown {
    z-index: 3;
    position: absolute;

    right: 2.2%;
    top: -150%;

    height: 0px;
    width: 180px;

    opacity: 0.0;

    transition: 0.2s ease-out;
}

.main-nav ul.dropdown.show {
    top: 0%;
    height: 140px;
    opacity: 1.0;
}

/* dropdown stuff */

ul.dropdown {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    background-color: var(--white-ish);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.dropdown li {
    width: 100%;

    padding: 0px;
    padding-top: 12px;

    margin: 0;

    text-align: center;
    font-size: 1rem;

    transition: 0.2s ease-out;
    color: black;
}

ul.dropdown li:hover {
    background-color: var(--light-purple);
    color: var(--main-font-color);
}

ul.dropdown li:not(:last-of-type) {
    border: none;
    box-shadow: 0 1.2px rgba(0, 0, 0, 0.35);
}

ul.dropdown li:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* main footer stuff */
.main-footer {
    grid-area: footer;
    position: sticky;
    left: 0;
    bottom: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: italic;
}

/* main sidebar stuff */
.main-sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.main-sidebar nav {
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-sidebar ul {
    height: 50%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 0;
    margin: 0;
}

.main-sidebar ul:first-of-type {
    align-content: flex-start;
}

.main-sidebar ul:last-of-type {
    align-content: flex-end;
}

.main-sidebar ul li {
    margin-bottom: 8%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.main-sidebar ul li:first-of-type {
    display: inline-block;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: var(--orangish);
}

.main-sidebar ul li:not(:first-of-type) {
    text-align: left;
    transition: left 0.25s ease-out;
}

.main-sidebar ul li:not(:first-of-type):hover {
    left: 0%;
}

.main-sidebar ul li img {
    display: block;
    flex-basis: 1;

    width: 40px;
    height: 40px;

    margin-right: 20px;
    padding: 0%;
}

.main-sidebar ul li a {
    display: block;
    flex-basis: 4;
    padding-top: 12px;
}

/* playlist creator stuff */
.new-playlist {
    width: 100%;
    margin-bottom: 0;
    /* flex-direction must be set to column,
     * this allows div expansion according to content
     */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-playlist .playlist {
    margin-top: 0;
}

.new-playlist .playlist .card-container {
    border: none;
    border-radius: 10px;
    border-style: dashed;
    border-color: var(--white-ish);
    min-height: 60px;
}

.new-playlist + .big-input {
    width: 40%;
}

/* playlist creator form overrides stuff */

.new-playlist .form {
    margin-top: 5%;
    height: 30%;
}

.new-playlist .form label {
    display: none;
}

.new-playlist .form input[type="text"] {
    background-color: var(--white-ish);

    width: 80%;

    /* copy of big-input */
    padding: 0.8rem;
    text-align: center;

    border: none;
    box-shadow: 0 0 12px rgb(132, 94, 194, 0.6);
    border-radius: 10px;
    outline: none;
}

.new-playlist .form input[type="text"] {
    /* copy of big-input */
    transition: 0.2s ease-out;
}

.new-playlist .form input[type="text"]:focus,
.new-playlist .form input[type="text"]:active,
.new-playlist .form input[type="text"]:hover {
    /* copy of big-input */
    box-shadow: 0 0 24px rgb(132, 94, 194, 0.6);
    transform: scale(1.05);
}

.new-playlist .form .form-buttons-section {
    justify-content: space-around;
}

.new-playlist .form .form-buttons-section .button {
    width: 40%;
}

@media (max-width: 1366px) {
    /* general layout stuff */
    body {
        grid-template-columns: 0.8fr 3fr;
        grid-template-rows: 0.8fr 4fr 4fr 0.6fr;
        grid-template-areas:
        "nav nav"
        "sidebar content"
        "sidebar content"
        "footer  footer"
    }

    /* main content stuff */
    .music-card, .artist-card {
        height: 200px;
        width: 140px;
    }

    .music-card .description p {
        display: none;
    }

    /* main sidebar stuff */
    .main-sidebar ul li {
        margin-bottom: 10%;
    }

    /* main nav stuff */
    .main-nav .home-section {
        margin-left: 1.5%;
    }

    .main-nav .home-section h1 {
        margin: 0;
        font-size: 1.4rem;
    }

    /* main nav stuff */
    .main-nav .home-section {
        margin-left: 2.5%;
        font-size: 1rem;
    }
}

@media (max-width: 1096px) {
    /* main nav stuff */
    .main-nav .home-section h1 {
        font-size: 1rem;
    }

}


@media (max-width: 768px) {
    /* general layout stuff */
    body {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 0.6fr 4fr 4fr 0.6fr;
        grid-template-areas:
        "nav nav"
        "sidebar content"
        "sidebar content"
        "footer  footer"
    }

    /* main content stuff */
    .music-card, .artist-card {
        height: 160px;
        width: 100px;
    }

    /* main sidebar stuff */
    .main-sidebar ul li {
        margin-bottom: 15%;
    }

    /* main nav stuff */
    .main-nav .home-section {
        margin-left: 2.5%;
    }

    .main-nav .home-section h2 {
        display: none;
    }
}

@media (max-width: 696px) {
    .music-card, .artist-card {
        height: 160px;
        width: 100px;
    }
}